<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Fines</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fines.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-page="/Index"></a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Privacy"></a>
                </li>
            </ul>
        </nav>
    </header>

    <main role="main" >
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>